* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 360px;
    height: 379px;
    top: 69px;
    left: 76px;
    background-color: #0B2434;
}

.main {
    width: 320px;
    height: 320px;
    top: 30px;
    left: 20px;
    border-radius: 10px;
    background-color: #F5F5F5;
}
